@import url(<linkhref="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap">);

/*-------------------------------------------------------------------------body*/
body {
  padding: 0rem;
  font-family: "Balsamiq Sans", cursive;
  background-color: #47ebbe;
}

/*-------------------------------------------------------------------------header*/
.page-title {
  font-size: 3.125rem;
  text-align: center;
}

.btn-style {
  background-color: #4774eb;
  color: #ffffff;
  border: #ffffff solid 0.25rem;
}

.home-button {
  text-align: center;
}

.heading-home {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}

/*-------------------------------------------------------------------------planets*/
.allplanets {
  padding: 2rem 0rem 2rem 0rem;
  margin: auto;
}

.planet {
  height: 8rem;
  max-width: 15rem;
  border: #ffffff solid 0.2rem;
  border-radius: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: black;
  margin: 0.2rem;
transition-property: background-color;
}





/*-------------------------------------------------------------------------planets*/
.earth {
  background-image: url("../images/planets/earth.jpg");
}

.jupiter {
  background-image: url("../images/planets/jupiter.png");
}

.mars {
  background-image: url("../images/planets/mars.jpg");
}

.mercury {
  background-image: url("../images/planets/mercury.jpg");
}

.neptune {
  background-image: url("../images/planets/neptune.jpg");
}

.saturn {
  background-image: url("../images/planets/saturn.jpg");
}

.uranus {
  background-image: url("../images/planets/uranus.jpg");
}

.venus {
  background-image: url("../images/planets/venus.jpg");
}

.facedown {
  background-image: url("../images/planets/rocket.png");
  background-size: contain;
  background-color: #ebbe47;
  height: 8rem;
  max-width: 15rem;
  border: #ffffff solid 0.2rem;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0.2rem;
  padding: 2rem 0rem 2rem 0rem;
}

/*-------------------------------------------------------------------------media queries*/
@media (max-width: 414px) {
  .planet {
    height: 5rem;
    max-width: 5rem;
  }

  .page-title {
    font-size: 2rem;
  }

  .game-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .planet {
    height: 4.5rem;
    max-width: 4.5rem;
  }
}