@import url(<linkhref="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap">);

/*-------------------------------------------------------------------------body*/
body {
  padding: 0rem;
  font-family: "Balsamiq Sans", cursive;
  background-color: #47ebbe;
}

/*-------------------------------------------------------------------------header*/
.page-title {
  font-size: 3.125rem;
  text-align: center;
}

.heading-home {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
}

/*-------------------------------------------------------------------------counter*/
.buttons {
  margin: auto;
  width: 85%;
  padding-bottom: 2rem;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
}

.counter {
  background-color: #4774eb;
  color: #ffffff;
  border: #ffffff solid 0.2rem;
  max-width: 10rem;
  padding: 2rem;
  margin: 0.4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart {
  background-color: #4774eb;
  color: #ffffff;
  border: #ffffff solid 0.2rem;
  max-width: 10rem;
  padding: 2rem;
  margin: 0.4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#restartButton {
  color: #ffffff;
  background-color: none;
  font-size: 1.5rem;
}

/*-------------------------------------------------------------------------planets*/
.allplanets {
  padding: 2rem 0rem 2rem 0rem;
}


.planet {
  height: 8rem;
  max-width: 15rem;
  border: #ffffff solid 0.2rem;
  border-radius: 10px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: black;
  margin: 0.2rem;
}

.disabled {
  pointer-events: none;
}

/*-------------------------------------------------------------------------planets*/
.earth {
  background-image: url("../images/planets/earth.jpg");
}

.jupiter {
  background-image: url("../images/planets/jupiter.png");
}

.mars {
  background-image: url("../images/planets/mars.jpg");
}

.mercury {
  background-image: url("../images/planets/mercury.jpg");
}

.neptune {
  background-image: url("../images/planets/neptune.jpg");
}

.saturn {
  background-image: url("../images/planets/saturn.jpg");
}

.uranus {
  background-image: url("../images/planets/uranus.jpg");
}

.venus {
  background-image: url("../images/planets/venus.jpg");
}

.facedown {
  background-image: url("../images/planets/rocket.png");
  background-size: contain;
  background-color: #ebbe47;
  height: 8rem;
  max-width: 15rem;
  border: #ffffff solid 0.2rem;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0.2rem;
  padding: 2rem 0rem 2rem 0rem;
}

.matches {
  background-color: #4774eb;
  background-image: url("../images/planets/stars.png");
}

/*-------------------------------------------------------------------------modal*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #ebbe47;
  color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 0.2rem solid #ffffff;
  text-align: center;
  display: inline-block;
}

.show {
  display: block;
}

.close-button {
  background-color: #4774eb;
  color: #ffffff;
  width: 1.5rem;
  float: right;
  border: #ffffff solid 0.1rem;
border-radius: 0.2rem;
}

.modal.closed {
  display: none;
}
/*-------------------------------------------------------------------------media queries*/
@media (max-width: 414px) {
  .planet {
    height: 5rem;
    max-width: 5rem;
  }

  .page-title {
    font-size: 2rem;
  }

  .game-title {
    font-size: 1.5rem;
  }

  .counter,
  .restart {
    max-width: 5rem;
    max-height: 3rem;
  }
}

@media (max-width: 320px) {
  .planet {
    height: 4.5rem;
    max-width: 4.5rem;
  }
}
